# For local development with the dev server
DB_NAME=
DB_USER=
DB_PASSWORD=

# For local setup / Prisma CLI
DATABASE_URL=


# Log Level
NUXT_LOG_LEVEL=debug

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000


# Infomaniak SMTP Configuration
NUXT_SMTP_HOST=
NUXT_SMTP_PORT=
NUXT_SMTP_SECURE=
NUXT_SMTP_USER=
NUXT_SMTP_PASS=
NUXT_SMTP_FROM=

# Payrexx
NUXT_PAYREXX_INSTANCE_NAME=
NUXT_PAYREXX_API_SECRET=
NUXT_PAYREXX_PRO_PAGE_URL=
NUXT_PUBLIC_PAYREXX_WEBHOOK_SECRET=
